
<!DOCTYPE html>
<html style="background-image:{{bgImage}}">
    <head>
        <title>JOB SEARCH</title>
        <link rel="icon" href="favicon.ico" />
        <link rel="shortcut icon" href="/static/img/favicon.ico" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
        <script src="static/js/common.js"></script>
        <script src="static/js/jquery-3.2.1.min.js"></script>
    </html>
    <body id="bodyContent">
        <header>
            <h1>
                <span>Indeed Logo</span><span>Stackoverflow Logo</span>
            </h1>
        </header>
        {% block content %}{% endblock %}
        <footer>
            <button onclick="topFunction()" id="btnTop" title="Go to top">TOP</button>
            <strong class="copyright">Copyright &copy; 2021 All rights reserved By Miri Kim </strong>
        </footer>
    </body>
</html>